
.fusio-headline {
    background-image: url('../img/intro.webp');
    background-size: cover;
}

.fusio-outro {
    background: url('../img/intro.webp') no-repeat top center;
    transform: rotate(180deg);
    height: 400px;
}

.fusio-footer a {
    color: #222;
    text-decoration: none;
}

.fusio-footer a:hover {
    text-decoration: underline;
}

.mc-layout__modalContent {
    background-color: #eee;
}
