
@media (min-width: 992px) {
    .fusio-headline {
        background-image: url('../img/intro_new_medium.webp');
        background-position: left bottom;
        color: #fff;
    }

    .fusio-outro {
        background-image: url('../img/intro_new_medium.webp');
        transform: rotate(180deg);
        height: 400px;
    }
}

@media (max-width: 991px) {
    .fusio-headline {
        background-image: url('../img/intro_new_small.webp');
        background-position: left bottom;
        color: #fff;
    }

    .fusio-outro {
        background-image: url('../img/intro_new_small.webp');
        background-position: left bottom;
        transform: rotate(180deg);
        height: 400px;
    }
}

.fusio-footer a {
    color: #222;
    text-decoration: none;
}

.fusio-footer a:hover {
    text-decoration: underline;
}

.fusio-list > li {
    margin-bottom:8px;
}

.fusio-sub-headline {
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom:1px solid #ccc;
}

.apioo-brand {
    background-color:#000;
    text-align: center;
    color:#eee;
    padding:24px;
    font-weight:bold;
}

.apioo-brand a {
    color:#00d1b2;
    text-decoration:none;
}
