
@media (min-width: 992px) {
    .fusio-headline {
        background-image: url('../img/intro_new_medium.webp');
        background-position: left bottom;
        color: #fff;
    }

    .fusio-outro {
        background-image: url('../img/intro_new_medium.webp');
        transform: rotate(180deg);
        height: 400px;
    }
}

@media (max-width: 991px) {
    .fusio-headline {
        background-image: url('../img/intro_new_small.webp');
        background-position: left bottom;
        color: #fff;
    }

    .fusio-outro {
        background-image: url('../img/intro_new_small.webp');
        background-position: left bottom;
        transform: rotate(180deg);
        height: 400px;
    }
}

.fusio-footer a {
    color: #222;
    text-decoration: none;
}

.fusio-footer a:hover {
    text-decoration: underline;
}

.fusio-list > li {
    margin-bottom:8px;
}

.fusio-sub-headline {
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom:1px solid #ccc;
}

.apioo-brand {
    background-color:#000;
    text-align: center;
    color:#eee;
    padding:24px;
    font-weight:bold;
}

.apioo-brand a {
    color:#00d1b2;
    text-decoration:none;
}

.fusio-text-animation {
    background: radial-gradient(
        circle at 100%,
        #6bf1f8,
        #07526f 50%,
        #8efdff 75%,
        #036e98 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
}

@keyframes animatedTextGradient {
    to {
        background-position: 200% center;
    }
}

@media (width >= 1200px) {
    .fusio-right-image {
        background-repeat: no-repeat;
        width:100%;
        height:380px;
    }

    .fusio-left-image {
        background-repeat: no-repeat;
        width:100%;
        height:380px;
        float:right;
    }
}

@media (width < 1200px) {
    .fusio-right-image {
        background-repeat: no-repeat;
        height:380px;
        margin:2em;
    }

    .fusio-left-image {
        background-repeat: no-repeat;
        height:380px;
        margin:2em;
    }
}

