RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /index.php/$1 [L]

RewriteCond %{PATH_INFO} ^/license
RewriteRule (.*) https://github.com/apioo/fusio/blob/master/LICENSE [R=301]

RewriteCond %{PATH_INFO} ^/documentation/php
RewriteRule (.*) https://docs.fusio-project.org/docs/concepts/php_api/ [R=301]

RewriteCond %{PATH_INFO} ^/documentation/worker
RewriteRule (.*) https://docs.fusio-project.org/docs/concepts/worker_api/ [R=301]

RewriteCond %{PATH_INFO} ^/documentation
RewriteRule (.*) https://docs.fusio-project.org/ [R=301]

RewriteCond %{PATH_INFO} ^/labels/
RewriteRule (.*) /blog [R=301]

RewriteCond %{PATH_INFO} ^/blog/category/
RewriteRule (.*) /blog [R=301]

RewriteCond %{PATH_INFO} ^/apps
RewriteRule (.*) /marketplace [R=301]

RewriteCond %{PATH_INFO} ^/amp
RewriteRule (.*) / [R=301]

RewriteCond %{PATH_INFO} ^/forum
RewriteRule (.*) https://github.com/apioo/fusio/issues [R=301]

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpg|jpeg|gif|png|pdf|webp|woff2|js|css)$">
        Header set Cache-Control "public, max-age=172800, no-transform"
    </FilesMatch>
</IfModule>
